body{
	background-color:silver;
	font-family:verdana;
}
.all_site{
	background-color:white;
	width:800px;
	margin:0 auto;
	overflow:hidden;
}

.box1{
	width:150px;
	height:150px;
	background-color:red;
	float:left;
}
.box2{
	width:150px;
	height:150px;
	background-color:yellow;
	float:left;
}
.box3{
	width:150px;
	height:150px;
	background-color:green;
	float:left;
}
/*
.clear{
	clear:both;
}
*/